<% content_for :head do %>
 <%= javascript_include_tag 'homemap' %>
 <%= javascript_include_tag 'topojson.v1.min' %>
<% end %>
<div id="crossoverlay"></div>
<div id="boxoverlay"></div>
<div id="picturebox"></div>
<div id="closebutton">X</div>
<div id="map-canvas"/>



<script>
    loadPostUrl(<%= @highid %>);
</script>