<% @posts.each do |post| %>
<div class="postwrapper">
  <div class="sectiontitle">Title</div>
  <div class="sectionwrapper"><%= post.post_content %></div>
  <div class="sectiontitle">Data</div>
  <div class="sectionwrapper"><%= post.test_result_cholera_o1 %></div>
</div>
<% end %>
