<div id="fullpage">
  <div class="section">
    <div class="mypostsection">
      <div class="mypostscroll">
        <% @posts.each do |post| %>
            <div class="mypostrow">
              <div class="datacontainer"><%= post.id %></div>
              <div class="mypostinfo">
                <div class="mypostlocation"><%= post.location || "No location" %></div>
                <div class="mypostdate"><%= l(post.created_at, :format => "%m/%d/%Y") %></div>
              </div>
              <div class="myposticon">

                <% if (post.test_result_arsenic > 3) %>
                    <div class="icon iconfloat icon6b"></div>
                <% else %>
                    <div class="icon iconfloat icon6w"></div>
                <% end %>

                <% if (post.test_result_coliform != 0)  %>
                    <div class="icon iconfloat icon5b"></div>
                <% else %>
                    <div class="icon iconfloat icon5w"></div>
                <% end %>

                <% if (post.test_result_nitrite > 3) %>
                    <div class="icon iconfloat icon4b"></div>
                <% else %>
                    <div class="icon iconfloat icon4w"></div>
                <% end %>

                <% if (post.test_result_cholera_o1 != 0 ) ||  (post.test_result_cholera_o139 != 0 ) %>
                    <div class="icon iconfloat icon3b"></div>
                <% else %>
                    <div class="icon iconfloat icon3w"></div>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
