$font-stack: sans-serif;
$color-primary: #2233FF;
$color-darkgray: #6D6E71;

@font-face {
  font-family: 'GothamRound';
  src: image-url("GothamRounded.otf") format("opentype");
}

main {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  padding: 0px;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'GothamRound', sans-serif;
  color: $color-primary;
  width: 100%;
  height: 100%;
  margin: 0;
}


// Left menu
.leftmenu {
  width: 140px;
  background-color: #FFF;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  z-index: 1000;
  border-right: 1px solid $color-darkgray;
}

.menubuttoncontainer {
  margin-top: 50px;
}

.menubutton {
  width: 140px;
  height: 100px;
  cursor: pointer;
  border-right: 4px solid #FFF;
  transition: border-right-color 0.5s ease;
  box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  padding: 8px;
}

.menuhighlight {
  width: 4px;
  height: 100px;
  background-color: $color-primary;
  position: fixed;
  left: 136px;
  top: -200px;
}

@keyframes blink {
  50% { border-color: $color-primary; }
}

.menubutton:hover {
  //border-right-color: $primary-color;
  animation: blink 1s ease-in infinite normal;
}

.menubuttonicon {
  width: 40px;
  height: 40px;

  margin-left: auto;
  margin-right: auto;

}

.menubuttontext {
  color: #000;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  font-size: 10pt;
}

.menubuttontextactive {
  color: $color-primary;
}

#menubuttonmission {
  background-image:image-url("menu/ourmission_gray.png");
}
#menubuttonnews {
  background-image:image-url("menu/newsfeed_gray.png");
}

#menubuttonkit {
  background-image:image-url("menu/requestkit_gray.png");
}

#menubuttonexport {
  background-image:image-url("menu/exportdata_gray.png");
}
#menubuttonsignin {
  background-image:image-url("menu/signin_gray.png");
}

#menubuttonloadhelper1 {
  background-image:image-url("menu/ourmission_blue.png");
}
#menubuttonloadhelper2 {
  background-image:image-url("menu/newsfeed_blue.png");
}
#menubuttonloadhelper3 {
  background-image:image-url("menu/requestkit_blue.png");
}
#menubuttonloadhelper4 {
  background-image:image-url("menu/exportdata_blue.png");
}
#menubuttonloadhelper5 {
  background-image:image-url("menu/signin_blue.png");
}

// Main logo
.logocontainer {
  margin-left: 30px;
  margin-top: 20px;
}

.logotitle {
  font-size: 10pt;
  font-weight: bold;
}

.logosubtitle {
  font-size: 6pt;
  color: #000;
}

// Main page box
.boxcontainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 140px;
  z-index: 100;
  overflow: hidden;
}

.boxpanel {
  position: relative;
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

// Post page nav
nav {
  height: 35px;
  width: 100%;
  position: absolute;
  padding: 0px;
  top: 0px;
  left: 0px;
  z-index: 1001;
}


.navmid{
  width: 1800px;
  height: 35px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navfloat {
  position: relative;
  top: 0px;
  right: 0px;
  height: 40px;
  padding: 8px;
  font-size: 18pt;
  background-color: rgba(255,255,255,0.4);
}

.navfloat:hover {
  background-color: rgba(255,255,255,1);
}

.navfloat a{
  text-decoration: none;
  color: $color-primary;
}

.navmid li {
  text-align: left;
  color: $color-primary;
  font-size: 18pt;
  list-style-type: none;
  width: 500px;
  height: 35px;
  padding-left: 30px;
  float: left;
  background-color: rgba(203,203,203,0.5);
  cursor: pointer;
  margin-right: 15px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box
}

.navmid li:hover {
  background-color: rgba(255,255,255,1);
}

.navmid li a {
  color: $color-primary;
  text-decoration: none;
}

// Google map
#map-canvas {
  height: 100%;
  margin-left: 0px;
  padding: 0px;
}

// New feed page box
#boxoverlay {
  width: 500px;
  height: 100%;
  max-height: 1035px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255,255,255,1.0);
  z-index: 200;
  display: none;
  overflow: hidden;
  box-shadow: 4px 0px 4px #888888;
}

#picturebox {
  z-index: 200;
  position: fixed;
  display: none;
  overflow: hidden;
  text-align: center;
  margin: 1em 0;
}

#picturebox img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#searchbox {
  width: 440px;
  height: 30px;
  border: none;
  margin-top: 5px;
  margin-left: 30px;
  padding: 0px;
}

#postsearchbox {
  width:100%;
  height: 40px;
  background-color: $color-primary;

}

.filterrow {
  width: 100%;
  height: 45px;
  background-color: #E6E6E6;
  margin-bottom: 8px;
}

.filterbutton {
  width: 100px;
  height: 45px;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-sizing:border-box;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
}

.postheader {
  position: relative;
  z-index: 2002;
}

#fullpage {
  z-index: 300;
}

.rightedge{
  border-right: 1px solid $color-primary;
}

#closebutton {
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: $color-primary;
  font-size: 20pt;
  text-align: center;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 600;
  display: none;
  background-color: #fff;
  box-shadow: 1px 1px 4 px #000;
  border: 8px solid $color-primary;
  border-radius: 30px;
}

.postwrapper {
  height: 100%;
}

#crossoverlay {
  //background-image: image-url("cross.png");
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  margin: 0px;
  z-index: 100;
  pointer-events: none;
  opacity: 0.3;
}


.title {
  color: $color-primary;
  font-size: 12pt;
  margin-left: 20px;
  margin-top: 20px;
}

.sectiontitle {
  margin: 0px 0px;
  background-color: #FFF;
  color: $color-primary;
  height: 35px;
  font-size: 14pt;
  font-weight: bold;
  clear:both;
  padding-top: 12px;
  padding-left: 30px;
  border-bottom: 1px solid $color-darkgray;
}

.sectiontitleleft {
  width: 65%;
  height: 35px;
  white-space:nowrap;
  overflow: hidden;
  float: left;
}

.sectionwrapper{
  margin: 10px 20px;
  clear:both;
}

.postdate {
  float: right;
  color: $color-darkgray;
  padding-right: 30px;
  font-weight: normal;
  font-size: 14pt;
}

.inputwrapper textarea{
  width: 460px;
  min-height: 120px;
  font-size: 12pt;
  resize: vertical;
  border: 1px solid $color-primary;
  box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
}

.locationinput {
  font-size: 12pt;
  border: 1px solid $color-primary;
  padding: 4px;
  width: 460px;
  box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
}

.new_post label {
  font-weight: bold;
}

.new_post input[type="file"] {
  color: $color-primary;
}

.new_post input[type="submit"] {

  background: image-url("button/submit.png") no-repeat;
  cursor:pointer;
  width: 54px;
  height: 54px;
  border: none;
}

.dateselectfields {
  width: 100%;
  height: 30px;
}

.dateselectfields select{
  border: 1px solid $color-primary;
  -webkit-appearance: none;  /*Removes default chrome and safari style*/
  -moz-appearance: none; /* Removes Default Firefox style*/
  background: image-url('button/dropdown.png') no-repeat;  /*Adds background-image*/
  background-position: 120px 12px;  /*Position of the background-image*/
  width: 140px; /*Width of select dropdown to give space for arrow image*/
  text-indent: 0.01px; /* Removes default arrow from firefox*/
  text-overflow: "";  /*Removes default arrow from firefox*/
  text-align: right;
  padding-right: 10px;
  font-size: 12pt;
  height: 30px;
  color: #979797;
  border-radius: 0px;
}
.mid {
  margin-left: auto;
  margin-right: auto;
}

.submitwrapper {
  width: 54px;
}

.errorbox {
  border: 1px solid #B00100;
  background-color: #FEE;
}

.testresultbox {
  width: 160px;
  margin-left: 30px;
  margin-right: 30px;
  height: 240px;
  float: left;
}

.testtitleimg {
  width: 60px;
  height: 60px;
}

#o1group {
  float: left;
  width: 80px;
}

.radioimg {
  display: inline-block;
  vertical-align: middle;
  height:30px;
}

#o1group div {

  height: 40px;
  width: 80px;
  background-color: #EEE;
  margin-top: 10px;
  margin-bottom: 10px;

}
#o1group input{
  margin-top: 12px;
  display: inline-block;
}

#o139group {
  width: 80px;
  float: right;
}

#o139group div {
  vertical-align: middle;
  height: 40px;
  width: 80px;
  background-color: #EEE;
  margin-top: 10px;
  margin-bottom: 10px;
}

#o139group input{
  margin-top: 12px;
}

.choicebox {
  height: 23px;
}

.choicebox input{
  margin-top: 6px;
}

#nitrite6 {
  background-color: #CE529E;
}
#nitrite5 {
  background-color: #DD85B7;
}
#nitrite4 {
  background-color: #E7AACD;
}
#nitrite3 {
  background-color: #F5CADF;
}
#nitrite2 {
  background-color: #F4DEE8;
}
#nitrite1 {
  background-color: #F2E6EC;
}



.coliformbox {
  height: 46px;
}

.coliformbox input{
  margin-top: 16px;
}

#coliformblue {
  background-color: #47C4BE;
}

#coliformyellow {
  background-color: #F7EE7F;
}

#coliformnone {
  background-color: #BBBDBF;
}


#arsenic6 {
  background-color: #793B2C;
}
#arsenic5 {
  background-color: #CD6632;
}
#arsenic4 {
  background-color: #E8942A;
}
#arsenic3 {
  background-color: #EABD24;
}
#arsenic2 {
  background-color: #EED772;
}
#arsenic1 {
  background-color: #F3EAAD;
}

.choicegroup {
  margin-top: 12px;
}

.datacontainer {
  display: none;
}

#post_location {
  width: 100%;
}

.formpanel {
  height: 100%;
}

.formsection {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

#grapharea {
  position: relative;
  width: 500px;
  height: 550px;
}

.postcontent {
  margin-left: 14px;
  margin-right: 14px;
  min-height: 40px;
  color: #000;
}
.thumbrow {
  height: 60px;
}
.thumbcontainer {
  width: 100px;
  height: 100px;
  float: left;
  overflow: hidden;
  margin-right: 10px;
  border: 2px solid #FFF;
}

.thumbcontainer:hover {
  border: 2px solid $color-primary;
}

.sharerow {
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 20px;
  right: 0px;
  padding-right: 10px;
}

.botbuttons {
  width: 30px;
  height: 30px;
  float: right;
  margin-left: 40px;
  margin-right: 40px;
}
.favbutton {
  background-image: image-url("button/fav.png");
}
.editbutton {
  background-image: image-url("button/edit.png");
}
.sharebutton {
  background-image: image-url("button/share.png");
}

.mypostrow {
  width: 100%;
  height: 80px;
  background-color: #FFF;
  border-bottom: 1px solid #CBCACA;
}

.mypostrow:hover {
  cursor: pointer;
}



.mypostinfo{
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  color: $color-primary;
  font-size: 14pt;
  height: 16px;
}

.mypostlocation {
  float: left;
}
.mypostdate {
  float: right;
  color: $color-darkgray;
}

.mypostsection {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.myposticon {
  clear: both;
  margin-right: 8px;
  height: 26px;
  margin-top: 10px;
}

.icon {
  width: 26px;
  height: 26px;
  margin-left: 6px;
  margin-right: 6px;
}

.iconfloat {
  float: right;
}

.icon3w {
  background-image: image-url("list/cholera_list_gray.png");
}
.icon3b {
  background-image: image-url("list/cholera_list_blue.png");
}

.icon4w {
  background-image: image-url("list/nitrate_list_gray.png");
}
.icon4b {
  background-image: image-url("list/nitrate_list_blue.png");
}
.icon5w {
  background-image: image-url("list/coliform_list_gray.png");
}
.icon5b {
  background-image: image-url("list/coliform_list_blue.png");
}
.icon6w {
  background-image: image-url("list/arsenic_list_gray.png");
}
.icon6b {
  background-image: image-url("list/arsenic_list_blue.png");
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}


.axis {
  font-size: 8pt;
}
.y.axis line, .y.axis path {
  fill: none;
  stroke: $color-darkgray;
}

.textbox {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.textbox img {
  display: inline-block;
}